/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@mixin flexcenter{
    display: flex;
    justify-content: center;
}

header{
    @include flexcenter;

}
.location{
    @include flexcenter;

}

.reservation{
    @include flexcenter;
    flex-direction: column;
    text-align: center;
}

.fonctionnement{
    ul{
        list-style-type: none;

        li{
            background-color: #F6F6F6;
            border-radius: 20px;
        }
    }
  
}