/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@mixin flexcenter{
    display: flex;
    justify-content: center;
}

header img {
    padding: 22px 13px 13px 13px;
}
