/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes progression {
    0%,
    70% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px auto;
    max-width: 1400px;
}

a {
    text-decoration: none;
}

.entrees {
    animation: progression 1000ms;
}
.plats {
    animation: progression 1000ms 1000ms;
}

.desserts {
    animation: progression 1000ms 1200ms;
}

header {
    @include flexcenter;

    h1 {
        margin-right: 30px;
    }
}

header#headerhaut {
    @include flexcenter;
    position: relative;

    img {
        padding: 20px 13px 13px 13px;
    }

    a {
        i {
            font-size: 20px;
            color: #353535;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);

        }
    }
}

header#headerbas {
    @include flexcenter;

    div {
        position: relative;
        margin-right: 40px;
    }

    .coeur1 {
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity 1s;
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        color: transparent;

        &:hover {
            opacity: 1;
        }
    }
}


h1 {
    font-family: 'Shrikhand', serif;
    font-size: 28px;
}

.imgresto {
    img {
        height: 231px;
        width: 100%;
    }
}

.menu {
    background-color: #F6F6F6;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;


    a {
        display: flex;
        align-items: flex-end;
        color: black;
        text-decoration: none;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;
       

        &:hover .check {
            transform: translateX(0);

        }

        &:hover .menuprix {
            transform: translateX(0);

        }

        &:hover .menutitle p {
            overflow: hidden;
            text-overflow: ellipsis;


            

        }
        &:hover .menutitle h3 {
            overflow: hidden;
            text-overflow: ellipsis;
        }



    }

    header {
        i {
            font-size: 20px;
        }
    }

    section {
        width: 95%;
        margin: auto;
        hr {
            width: 40px;
            background-color: #99E2D0;
            height: 3px;
            margin: 0px 10px 20px 10px;
            border: none;
        }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 16px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 0px;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin-top: 3px;
        }

        .menutitle {
            margin-left: 10px;
            margin-right: auto;
            white-space: nowrap;
            width: 220px;
        }

        .menuprix {
            margin-right: 15px;
            font-weight: bold;
            transform: translateX(80px);
            transition: transform 0.4s ease-in-out;
        }

        .check {
            height: 80px;
            width: 80px;
            background-color: #99E2D0;
            border-radius: 0px 20px 20px 0px;
            transform: translateX(80px);
            transition: transform 0.4s ease-in-out;

            i {
                position: absolute;
                transform: translate(32px, 32px);
                font-size: 17px;
                color: white;
            }
        }
    }
}





.commander {
    display: flex;
    justify-content: center;
}

button {
    font-size: 16px;
    background-image: linear-gradient(#9356DC, #FF79DA);
    border-radius: 50px;
    padding: 14px;
    color: #FFFFFF;
    border: none;
    width: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: opacity 450ms, box-shadow 450ms;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 1);
    }

}

footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 15px;

    h4 {
        font-family: "Shrikhand", serif;
        color: white;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin-left: 0px;
        margin-top: 0px;
        font-family: "Shrikhand", serif;
        padding: 0px;

        li {
            margin-bottom: 10px;
        }
    }
}


/****** Media queries ***********/
/*  tablet (max/equal than 640px) */
@media (min-width: 640px) {

    .imgresto {
        img {
            object-fit: cover;
        }
    }

    .menu {
        h2 {
            margin-top: 30px;
        }

        section {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: 65%;

            .menutitle {
                width: auto;
            }
        }
    }


    button {
        width: 25%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-right: 20px;

        h4 {
            padding: 0;
            margin-right: 30px;
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            .footerbloc {
                margin-right: 40px;
            }

            li {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }



}

/****** Media queries ***********/
/*  desktop (less/equal than 1024px) */
@media (min-width: 1025px) {

    .imgresto {
        img {
            object-fit: cover;
            height: 500px;
        }
    }

    .menu {
        width: 80%;

        #headerbas {
            padding: 30px;
        }

        section {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: 65%;

            .menutitle {
                width: auto;
            }
        }

        button {
            width: 16%;
            margin-top: 0;
        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-right: 20px;

        h4 {
            padding: 0px;
            margin: 0px;
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            .footerbloc {
                margin-right: 100px;
            }

            li {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }
}





























/* Small devices (phones, less than 768px) */
@media (min-width: 767.98px) {
    /* ... */




}