/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    max-width: 1400px;

}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$main-color: #F6F6F6;


header {
    @include flexcenter;
    img{
        padding: 13px;
    }
}

.location {
    @include flexcenter;
    background-color: #EAEAEA;
    padding: 15px;
    width: 100%;

    .locationtext {
        margin-left: 10px;
    }
}

.reservation {
    @include flexcenter;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 24px;
    }

    p {
        margin-top: 0px;
        width: 97%;
    }

    button {
        font-size: 16px;
        background-image: linear-gradient(#FF79DA, #9356DC);
        border-radius: 50px;
        padding: 14px;
        color: #FFFFFF;
        border: none;
        width: 60%;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.fonctionnement {
    h2 {
        margin-left: 15px;
    }

    ul {
        list-style-type: none;
        @include flexcenter;
        flex-direction: column;
        padding: 0px;

        li {
            background-color: $main-color;
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 10px;
            position: relative;
            width: 70%;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

            i {
                margin-right: 15px;
            }

            .purplecircle {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 0;
                @include flexcenter;
                color: white;
                background-color: #9356DC;
                border-radius: 100%;
                width: 17px;
                height: 17px;
                font-size: 12px;
            }
        }
    }

}

.restaurants {
    background-color: $main-color;
    padding-bottom: 15px;

    h2 {
        margin-left: 15px;
    }

    img {
        height: 231px;
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
    }

    .card {
        @include flexcenter;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        position: relative;
        width: 90%;


        span {
            position: absolute;
            top: 10px;
            right: 15px;
            border-radius: 2px;
            background-color: #99E2D0;
            color: #008766;
            width: 80px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-content {
            background-color: white;
            border-radius: 0px 0px 15px 15px;
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .card-text {
                width: 100%;
                height: 231px;
            }

            i {
                margin-right: 20px;
            }
        }
    }
}


footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;

    padding-left: 15px;
    padding-top: 15px;


    h4 {
        font-family: 'Shrikhand', serif;
        color: white;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;

    }

    a {
        color: white;
        text-decoration: none;

    }

    ul {
        list-style-type: none;
        margin-left: 0px;
        margin-top: 0px;
        font-family: 'Shrikhand', serif;
        padding: 0px;

        li {
            margin-bottom: 10px;
        }
    }
}

/****** Media queries ***********/
/*  tablet (less/equal than 1024px) */
@media (min-width: 640px) {


    .reservation{
        button{
            width: 30%;
        }
    }
    .fonctionnement {
        h2{
            margin-left: 40px;
        }
        ul {
            li {
                width: 56%;
            }
        }
    }

    .restaurants {
        h2 {
            padding-top: 20px;
            margin-left: 40px;
        }

        .card {
            width: 76%;
            .card-content{
                .cardtext {
                    padding-left: 20px;
                }
            }

           
        }
    }



    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-right: 20px;

        h4 {
            padding: 0;
            margin-right: 30px;
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            .footerbloc {
                margin-right: 40px;
            }

            li {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }

}





/****** Media queries ***********/
/*  desktop (less/equal than 1024px) */
@media (min-width: 1025px) {

    header img {
        padding: 30px;
    }

    .reservation {
        background-color: $main-color;
        padding-bottom: 25px;

        button {
            display: block;
            width: initial;
        }
    }


    .fonctionnement {
        margin-bottom: 40px;

        ul {
            display: flex;
            flex-direction: row;
            width: 88%;
            margin-left: 80px;
            justify-content: space-between;


            li {
                width: 35%;
                margin: 0px;
                font-weight: bold;
                margin-right: 30px;
            }
        }

        h2 {
            margin-left: 80px;
        }

    }

    .restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h2 {
            margin-left: 80px;
        }

        .card {
            width: 100%;

            .card-subtitle {
                margin-top: 2px;
            }

            .cardtext {
                padding-left: 20px;
            }

            .card-title {
                margin-bottom: 0;
            }


        }

        .blocresto {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 80px;

            a {
                width: 45%;
            }

        }
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-right: 20px;

        h4 {
            padding: 0;
            margin-right: 30px;
        }

        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;

            .footerbloc {
                margin-right: 100px;
            }

            li {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }
    }
}