/****** General ***********/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header, main, footer {
  animation: coreappear 3000ms;
}

@keyframes coreappear {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}
.load {
  pointer-events: none;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.load__bar {
  margin: 0 10px;
  background-color: #15DEA5;
  height: 100px;
  width: 3vh;
  animation: bars 1500ms forwards ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 300ms;
}
.load__bar--2 {
  animation-delay: 600ms;
}
.load__bar--3 {
  animation-delay: 900ms;
}
.load__bar--4 {
  animation-delay: 1200ms;
}
.load__bar--5 {
  animation-delay: 1500ms;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px auto;
  max-width: 1400px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  padding: 13px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 15px;
  width: 100%;
}
.location .locationtext {
  margin-left: 10px;
}

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.reservation h1 {
  font-size: 24px;
}
.reservation p {
  margin-top: 0px;
  width: 97%;
}
.reservation button {
  font-size: 16px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  padding: 14px;
  color: #FFFFFF;
  border: none;
  width: 60%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 450ms, box-shadow 450ms;
}
.reservation button:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 0px rgb(0, 0, 0);
}

.fonctionnement h2 {
  margin-left: 15px;
}
.fonctionnement ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}
.fonctionnement ul li {
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 70%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement ul li i {
  margin-right: 15px;
}
.fonctionnement ul li .purplecircle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  font-size: 12px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 15px;
}
.restaurants h2 {
  margin-left: 15px;
}
.restaurants img {
  height: 231px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  width: 90%;
}
.restaurants .card div {
  position: relative;
}
.restaurants .card .coeur1 {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  top: 1px;
}
.restaurants .card .coeur1:hover {
  opacity: 1;
}
.restaurants .card span {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .card .card-content {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .card .card-content .card-text {
  width: 100%;
  height: 231px;
}
.restaurants .card .card-content i {
  margin-right: 20px;
}
.restaurants .card .card-content i:active {
  background-color: #9356DC;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
}
footer h4 {
  font-family: "Shrikhand", serif;
  color: white;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Shrikhand", serif;
  padding: 0px;
}
footer ul li {
  margin-bottom: 10px;
}

/****** Media queries ***********/
/*  tablet (less/equal than 1024px) */
@media (min-width: 640px) {
  .reservation button {
    width: 30%;
  }
  .fonctionnement h2 {
    margin-left: 40px;
  }
  .fonctionnement ul li {
    width: 56%;
  }
  .restaurants h2 {
    padding-top: 20px;
    margin-left: 40px;
  }
  .restaurants .card {
    width: 76%;
  }
  .restaurants .card .card-content .cardtext {
    padding-left: 20px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  footer h4 {
    padding: 0;
    margin-right: 30px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  footer ul .footerbloc {
    margin-right: 40px;
  }
  footer ul li {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
/****** Media queries ***********/
/*  desktop (less/equal than 1024px) */
@media (min-width: 1025px) {
  header img {
    padding: 30px;
  }
  .reservation {
    background-color: #F6F6F6;
    padding-bottom: 25px;
  }
  .reservation button {
    display: block;
    width: initial;
  }
  .fonctionnement {
    margin-bottom: 40px;
  }
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    width: 88%;
    margin-left: 80px;
    justify-content: space-between;
  }
  .fonctionnement ul li {
    width: 35%;
    margin: 0px;
    font-weight: bold;
    margin-right: 30px;
  }
  .fonctionnement h2 {
    margin-left: 80px;
  }
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants h2 {
    margin-left: 80px;
  }
  .restaurants .card {
    width: 100%;
  }
  .restaurants .card .card-subtitle {
    margin-top: 2px;
  }
  .restaurants .card .cardtext {
    padding-left: 20px;
  }
  .restaurants .card .card-title {
    margin-bottom: 0;
  }
  .restaurants .blocresto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
  }
  .restaurants .blocresto a {
    width: 45%;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  footer h4 {
    padding: 0;
    margin-right: 30px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  footer ul .footerbloc {
    margin-right: 100px;
  }
  footer ul li {
    margin-right: 20px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */