/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
}

header {
    @include flexcenter;


}

header img {
    height: 231px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}